* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 200vh;
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: white;
  transition: all 0.3s ease;
  z-index: 1000;
}


nav.scrolled {
  background: #111;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 40px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #00ffd5;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #00ffd5;
}

.nav-links a:hover::after {
  width: 100%;
}

.hero {
  height: 100vh;
  background: linear-gradient(to right, #141e30, #243b55);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
}

.content {
  height: 100vh;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
